{% extends "base.html" %}
{%block title%}{{title}}{%endblock%}
{% block page_content %}
<style>
input[name="password"] {
  -webkit-text-security: disc !important;
}
</style>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <form method="post">

            <h4>Для редактирование  введите пароль</h4>
            <input type="text" autocomplete="off" name="password" id="password" class="form-control" value="Введите пароль"
                      placeholder="Введите пароль"><br><br>

            <input type="text" name="title" id="title" class="form-control" value="{{advert.title}}"
                      placeholder="Название "><br>
            <textarea name="text" id="text" class="form-control"
                      placeholder="Основной текст">{{advert.text}}</textarea><br>
            <input type="submit" class="w-100 btn btn-lg btn-outline-primary" value="Сохранить">

        </form>
    </div>
</body>
{%endblock%}